body {
	background-color: #181818;
	color: white;
	background-image: url("http://wallpapercave.com/wp/xX2GRj6.gif");
}

canvas{
	margin: 20px auto;
	background-color: 	#000000 
}

button{
	margin: 20px 5px 20px 5px;
}